:host {
  padding: 20px;
  display: block;
}

.form__fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.form__field {
  padding: 12px;
}

.form__field_uneditable .mat-input-element {
  color: black;
}

.form__field_uneditable :global(.mat-form-field-underline) {
  height: 0;
  background-image: none;
}
