<form>
  <h1>Library: SD3453464</h1>
  <section class="form__fields">
    <mat-form-field class="form__field">
      <mat-label>AIRIM Project</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Library number</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="form__field form__field_uneditable">
      <mat-label>Library number</mat-label>
      <input matInput value="15.03.2019" disabled />
    </mat-form-field>

    <div class="form__field form__field_test">
      <mat-label>Library number</mat-label>
      <input matInput value="15.03.2019" disabled />
    </div>

    <mat-form-field class="form__field">
      <mat-label>Library Designer</mat-label>
      <input matInput />
    </mat-form-field>
  </section>
</form>
